
.topsection {
    background: rgb(36, 36, 189);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;
    padding-top: 2%;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 35px;
    position: absolute;
    top: 20px;
    width: 100%;
}
@media only screen and (min-width: 971px) {
    .topsection {
        height: 100%;
    } 
}

@media only screen and (max-width: 970px) {
    .topsection {
        height: 150%;
    }   
}


.slogan {
    margin: 0;
    color: aliceblue;
    font-weight: 700;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

}

h2{
    
    text-align: start;
    margin-bottom: 0;
}

p{
    font-size: 30px;
    text-align: justify;

}
